In [8]:
-- Total of flagged fraud by city 
SELECT 
	location, 
	COUNT(*)IsFlaggedFraud
FROM 'fraud_detection_dataset.csv'
	WHERE IsFlaggedFraud = 1 
GROUP BY location
ORDER BY IsFlaggedFraud DESC;

        Location  IsFlaggedFraud
0  San Francisco             324
1    Los Angeles             134
2        Seattle             127
3         Austin             105
4        Houston             103
5        Chicago             102
6       New York             101

In [9]:
-- Fraud by Device type
SELECT 
    Device,
    COUNT(*) AS FraudulentTransactions
FROM 'fraud_detection_dataset.csv'
WHERE IsFlaggedFraud = 1
GROUP BY Device
ORDER BY FraudulentTransactions DESC;

    Device  FraudulentTransactions
0  Desktop                     520
1   Mobile                     372
2   Tablet                     104

In [11]:
-- Identifying Users with Suspicious Activity
SELECT UserID,
    COUNT(TransactionID) AS TotalTransactions,
    SUM(CASE WHEN IsFlaggedFraud = 1 THEN 1 ELSE 0 END) AS FraudulentTransactions,
    ROUND(SUM(CASE WHEN IsFlaggedFraud = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(TransactionID), 2) AS FraudRate,
    MAX(TransactionAmount) AS MaxTransactionAmount,
    MIN(TransactionDate) AS FirstTransactionDate,
    MAX(TransactionDate) AS LastTransactionDate
FROM 'fraud_detection_dataset.csv'
GROUP BY UserID
HAVING FraudulentTransactions > 3 
    OR FraudRate > 50
ORDER BY FraudulentTransactions DESC, FraudRate DESC;

    UserID  ...       LastTransactionDate
0     1400  ... 2024-01-07 02:21:00+00:00
1     1550  ... 2024-01-07 03:38:00+00:00
2     1506  ... 2024-01-06 18:38:00+00:00
3     1200  ... 2024-01-06 15:16:00+00:00
4     1868  ... 2024-01-06 13:45:00+00:00
5     1374  ... 2024-01-07 21:03:00+00:00
6     1637  ... 2024-01-07 01:05:00+00:00
7     1205  ... 2024-01-07 12:58:00+00:00
8     1089  ... 2024-01-07 17:29:00+00:00
9     1555  ... 2024-01-07 21:01:00+00:00
10    1587  ... 2024-01-07 16:44:00+00:00
11    1110  ... 2024-01-07 06:00:00+00:00
12    1470  ... 2024-01-07 12:03:00+00:00
13    1282  ... 2024-01-07 21:35:00+00:00
14    1824  ... 2024-01-07 21:29:00+00:00

[15 rows x 7 columns]

In [12]:
-- Locations with Frequent Policy Violations
SELECT 
    Location,
    COUNT(TransactionID) AS TotalTransactions,
    SUM(CASE WHEN IsFlaggedFraud = 1 THEN 1 ELSE 0 END) AS FraudulentTransactions,
    ROUND(SUM(CASE WHEN IsFlaggedFraud = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(TransactionID), 2) AS FraudRate
FROM 'fraud_detection_dataset.csv'
GROUP BY  Location
HAVING FraudRate > 10
ORDER BY FraudulentTransactions DESC;

        Location  TotalTransactions  FraudulentTransactions  FraudRate
0  San Francisco               1422                   324.0      22.78